
# Project
## ignore csv files
csv/*.csv
## ignore models, to prevent overwriting
models/*.h5
models/*


# Default
.DS_Store
*.pyc
.vscode-test
__pycache__
**/.vscode-test/**
**/.vscode test/**
**/.vscode-smoke/**
**/.venv*/
bin/**
build/**
obj/**
.pytest_cache
tmp/**
.vs/
dist/**
*.egg-info/*
.vscode
examples/**/*.jpg
.python-version
.coverage
*coverage.xml
.ruff_cache
